<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        table th, table td {
            padding: 18px;
            text-align: center;
            vertical-align: middle;
        }

        .row {
            font-style: italic;
            color: darkred;
        }
    </style>
</head>
<body>
<h1>Cars</h1>
<table border="15">
    <tr>
        <th>No</th>
        <th>Model</th>
        <th>Year</th>
        <th>Number</th>
    </tr>
    <tr th:each="car, iterStat : ${cars}" class="row">
        <td th:text="${iterStat.index + 1}">1</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.year}">Year</td>
        <td th:text="${car.number}">Number</td>
    </tr>
</table>
</body>
</html>